    body{
        background: grey;
    }
    canvas{
        background: darkslateblue;
    }

@media (prefers-color-scheme: light) {
    body{
        background: white;
    }
    canvas{
        background: aliceblue;
    }
}
